<h1>Welcome on the page!</h1>
<p>Please sign in, for more functionality.</p>
<form class="form-inline" action="/registration" method="get">
  <button class="btn btn-light my-2 my-sm-0" type="submit">Registration</button>
</form>